In [143]:
import time
import pandas as pd
from ftx_client import FtxClient
import datetime
import matplotlib.pyplot as plt
import requests
import numpy as np
from statsmodels.tsa.stattools import adfuller

In [205]:
# GET /markets/{market_name}/candles?resolution={resolution}&start_time={start_time}&end_time={end_time}
# Days is 60 seconds * 60 minutes * 24
resolution = 60*60
# print(resolution)

start = datetime.datetime(2022,4,26).timestamp()
# print(start)

api_url = 'https://ftx.us/api'
market_name = 'ETH/USD'
path = f'/markets/{market_name}/candles?resolution={resolution}&start={start}'
url = api_url + path

In [303]:
# Eth Market Data
res = requests.get(url).json()
df = pd.DataFrame(res['result'])
df['date'] = pd.to_datetime(df['startTime'])
df.startTime = pd.to_datetime(df.startTime)
df.set_index('startTime')
df = df[-100:]
df = df.drop(columns=['time', 'volume', 'high', 'open', 'low', 'startTime'])
df

       close                      date
1400  2928.1 2022-04-24 01:00:00+00:00
1401  2932.7 2022-04-24 02:00:00+00:00
1402  2956.6 2022-04-24 03:00:00+00:00
1403  2951.2 2022-04-24 04:00:00+00:00
1404  2946.0 2022-04-24 05:00:00+00:00
...      ...                       ...
1495  2895.5 2022-04-28 00:00:00+00:00
1496  2877.7 2022-04-28 01:00:00+00:00
1497  2897.0 2022-04-28 02:00:00+00:00
1498  2884.5 2022-04-28 03:00:00+00:00
1499  2883.3 2022-04-28 04:00:00+00:00

[100 rows x 2 columns]

In [304]:
import operator
from collections import OrderedDict

In [305]:
def get_adf_test(series):
    result = adfuller(series, autolag='AIC', store=True)
    
    # Printing the ADF values
    print('ADF Statistics: %f' % result[0])
    # print('p-value: %f' % result[1])
    print("Mean Line: %f" % result[2].get("10%"))
    
    if result[0] <= result[2].get("10%"):
        print("Stationary Time Series!")
    else:
        print("Non Stationary Time Series")

In [306]:
get_adf_test(df['close'])

ADF Statistics: -1.587499
Mean Line: -2.582596
Non Stationary Time Series